.notice{
    width: 49%;
    height: 20%;
    top: 40%;
    z-index: 1;
    position: fixed;
    background-color: rgb(246, 242, 242);
    border: solid #898888;
    border-radius: 5px;
}
.notice_title{
    display: flex;
    justify-content: center;
    color: red;
}
.notice_button{
    width: 100%;
    bottom: 2px;
    display: flex;
    justify-content: space-around;
}
.notice_y{
    display: flex;
    justify-content: center;
    background-color: #33ff00;
    width: 100px;
    border-radius: 5px;
}
.notice_n{
    display: flex;
    justify-content: center;
    background-color: red;
    width: 100px;
    border-radius: 5px;
}
.notice_n:hover{
    background-color: #33ff00;
}
.notice_y:hover{
    background-color: red;
}
/* responsive
/* Mobile: width < 740px = 46.1875em */
@media (max-width: 46.1875em) {
    .notice{
        width: 100%;
    }

}
/* Tablet: width >= 740px and width <1024px  */
@media (min-width: 46.25em) and (max-width: 63.9375em){
    .notice{
        top: 50%;
        height: 170px;
    }
}